.navbar {
    display: flex;
    justify-content: center;

    padding: 50px 0;
    font-size: 24px;

    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    color: #0D4270;
    font-weight: 600;
    text-transform: uppercase;
  }